<div class="price-details p-4">
    <div class="text-secondary ">
        <span>Price Details</span>
        <div class="d-flex justify-content-between">
            <span> Price ({{cartItems.length}})</span>
            <span><b>{{cartItemsPrice | currency : 'INR'}}</b></span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Discount</span>
            <span><b class="text-succeess">{{cartItemsDiscount | currency : 'INR' }}</b></span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Delivery Charges</span>
            @if(deliveryCharge){
                <span><b>{{deliveryCharge}}</b></span>
            }
            @else{
                <span><b>FREE</b></span>
            }

        </div>
        <div class="d-flex justify-content-between mt-3 total-amount">
            <h5>Total Amount</h5>
            <h5>{{cartItemsPrice - cartItemsDiscount - deliveryCharge | currency : 'INR'}}</h5>
        </div>
    </div>
</div>