<div class="book-cart p-1 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-center">
        <a routerLink="/product-details"[queryParams]="id"><img class="book-thumbnail" [src]="book.thumbnailUrl"></a>
    </div>
    <div class="cart-container">
        <p class="text-truncate">{{warehoiseProducts.name}}</p>
        <p class="text-secondary text-truncate">{{warehoiseProducts.categoryId}}</p>
        <p class="text-secondary text-truncate">{{warehoiseProducts.productSeriesNo}}</p>
        
        @if(!book.isProductInCart)
        {
            <button class="btn-theme w-100" (click)="addToCart(book)">Add to cart</button>
        }
        @else{
            <button class="btn-theme w-100" routerLink="cart">Go to cart</button>
        }
    </div>
</div>