.main-content{
    background-color: gainsboro;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .home-main{
    padding-left: 25px;
    max-height: 475px;
    overflow-y: auto;
  }

